---
layout: default
---
<div class="fold-container">
<section class="block">
  <div class="block-wrapper">
    <div class="block__logo">
      {% include icon-main.html %}
    </div>

    <h1 class="intro">Hello!</h1>
    <p>I'm Bryan, a designer at EverBank and currently the president of AIGA Jacksonville. I have a passion for thoughtful design and even write some code from time to time. You can find some of my <a href="#" class="text-link">recent work</a> below, <a href="#" class="red text-link">thoughts and ramblings</a> or <a href="#" class="orange text-link">drop me a line</a> to say “hi!”</p>
  </div>
</section>

<section class="block no-margin">
  <div class="fold-down fold-transform">
  <div class="block-wrapper">
  </div>
  </div>
</section>

<section class="block block--black-bg">
  <div class="block-wrapper">
    <h2 class="start blue">Recent Work</h2>
    <h2>EverBank Homepage</h2>
    <div class="block__image">
      <div class="img-clip feature-1"></div>
      <p class="block__excerpt">I worked with our digital team to re-imagine EverBank's homepage...</p>
      <a href="portfolio/everbank-homepage.html" class="block__excerpt--link button">Read the Case Study</a>
    </div>
  </div>

  <div class="block-wrapper">
    <h2>Banking Platform</h2>
    <div class="block__image">
      <div class="img-clip feature-2"></div>
      <p class="block__excerpt">I worked with our products team to design a new  banking platform...</p>
      <a href="portfolio/digital-banking-platform.html" class="block__excerpt--link button">Read the Case Study</a>
    </div>
  </div>

  <!-- <div class="block-wrapper">
    <h2>EverBank</h2>
    <div class="block__image">
      <div class="img-clip feature-3"></div>
      <p class="block__excerpt">I worked with our digital team to design a new banking platform...</p>
      <a href="#" class="block__excerpt--link button">Read the Case Study</a>
    </div>
  </div> -->

  <div class="block-wrapper">
    <div class="block__outro">
      <h3>Want to See More?</h3>
      <p class="small">You can see more of my design work on <a href="#" class="text-link blue">Dribbble</a> or <a href="#" class="text-link blue">Instagram</a>, or check out what I’ve been coding up on <a href="#" class="text-link red">Github</a>. You can also find my work history on <a href="#" class="text-link orange">linkedin</a>, or [download my resume].</p>
    </div>
    {% include social.html %}
  </div>

<div class="shadow"></div>
</section>
</div>
