<section class="about">
  <div class="block-wrapper">
    <div class="about__photo"></div>
    <div class="about__description">
      <h1 class="intro">A Little More About Me</h1>
      <p>I'm Bryan, a designer at EverBank and currently the president of AIGA Jacksonville. I have a passion for thoughtful design and even write some code from time to time. You can find some of my <a href="#" class="text-link">recent work</a> below, <a href="#" class="red text-link">thoughts and ramblings</a> or <a href="#" class="orange text-link">drop me a line</a> to say “hi!”</p>
      <h1 class="intro">Resume</h1>
      <p>I'm Bryan, a designer at EverBank and currently the president of AIGA Jacksonville. I have a passion for thoughtful design and even write some code from time to time. You can find some of my <a href="#" class="text-link">recent work</a> below, <a href="#" class="red text-link">thoughts and ramblings</a> or <a href="#" class="orange text-link">drop me a line</a> to say “hi!”</p>
      <h1 class="intro">Resume</h1>
      <p>I'm Bryan, a designer at EverBank and currently the president of AIGA Jacksonville. I have a passion for thoughtful design and even write some code from time to time. You can find some of my <a href="#" class="text-link">recent work</a> below, <a href="#" class="red text-link">thoughts and ramblings</a> or <a href="#" class="orange text-link">drop me a line</a> to say “hi!”</p>
      <h1 class="intro">Resume</h1>
      <p>I'm Bryan, a designer at EverBank and currently the president of AIGA Jacksonville. I have a passion for thoughtful design and even write some code from time to time. You can find some of my <a href="#" class="text-link">recent work</a> below, <a href="#" class="red text-link">thoughts and ramblings</a> or <a href="#" class="orange text-link">drop me a line</a> to say “hi!”</p>
    </div>
  </div>
</section>
