<section class="block block--black-bg last">
  <div class="block-wrapper block__contact">
    <form action="http://formspree.io/bryan.d.hunt@gmail.com" method="POST">
      <h2 class="start orange">Contact</h2>
      <h2>Let’s Talk!</h2>
      <p class="small">Feel free to reach out and get in touch! I’m always happy to connect.</p>

      <label class="form__label" for="_name">your name</label>
      <input type="name" name="name">
      <label for="_replyto">your email</label>
      <input type="email" name="_replyto">
      <input type="hidden" name="_subject" value="New Inquiry From Portfolio Site" />
      <label for="body">your message</label>
      <textarea name="body"></textarea>
      <input type="hidden" name="_next" value="http://127.0.0.1:4000/brydave{{ page.url }}" />
      <input type="text" name="_gotcha" style="display:none" />
      <input class="submit" type="submit" value="Send Away!">
    </form>
      {% include social.html %}
  </div>
  <div class="shadow"></div>
</div>
