<div class="block__social">
  <ul>
    <li>
      <a href="https://dribbble.com/{{ include.username }}" target="_blank" class="icon-alone">
        <span class="socicon-dribbble"></span>
        <span class="screen-reader-text">Dribble</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/{{ include.username }}" target="_blank" class="icon-alone">
        <span class="socicon-github"></span>
        <span class="screen-reader-text">Dribble</span>
      </a>
    </li>
    <li>
      <a href="https://instagram.com/{{ include.username }}" target="_blank" class="icon-alone">
        <span class="socicon-instagram"></span>
        <span class="screen-reader-text">Instagram</span>
      </a>
    </li>
    <li>
      <a href="https://behance.net/{{ include.username }}" target="_blank" class="icon-alone">
        <span class="socicon-behance"></span>
        <span class="screen-reader-text">Behance</span>
      </a>
    </li>
</div>
