html {
  box-sizing: border-box;
  font-size: 62.5%; // sets REMs to base 10.
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}
%vertical-rhythm-large {
    margin-bottom: $spacing-unit;
}
%vertical-rhythm-small {
    margin-bottom: $spacing-unit / 5;
}

/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $white;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

.hid {
  visibility: hidden !important;
}
