form {
	position: relative;

	label {
		position: relative;
		top: 30px;
		transition: all .3s;
		color: $gray;
    line-height: 1.4em;
	  font-size: 1.5rem;
    float: left;
    height: 20px;

		&.active {
			top: 15px;
			font-size: 12px;
			&.blue {
				color: $blue;
			}
		}

    // &[for="body"] {
    //   top: 15px;
    //   left: 10px;
    // }
	}
}

input:not(.submit),
textarea {
  background: transparent;
	padding: 5px 0 7px 0;
	width: 100%;
	border: none;
	border-bottom: 2px solid $white;
	color: $gray;
  font-size: 2rem;
  line-height: 1.5;
  height: 27px;

	&:focus {
		box-shadow: none;
		outline: none;
		border-bottom: 2px solid $blue;
		color: $white;
	}
}

textarea {
  height: 100px;
  overflow: auto;
  padding: 10px 0;
}

input.submit {
  @extend a;
  background: none;
  border: none;

  &:hover {
    color: $orange;
  }
  &:before {
    content: "[";
  }
  &:after {
    content: "]";
  }
}
