form {
	position: relative;

	p { margin-bottom: 20px; }

	.form__field {
		position: relative;
		margin: 10px 0;
	}

	label {
		top: 2px;
		position: absolute;
		transition: all .3s;
		color: $gray;
    line-height: 1.4em;
	  font-size: 1.5rem;
    float: left;
    height: 40px;

		&.active {
			font-size: 12px;
			top: -15px;

			&.blue {
				color: $blue;
			}
		}

    // &[for="body"] {
    //   top: 15px;
    //   left: 10px;
    // }
	}
}

input:not(.submit),
textarea {
  background: transparent;
	padding: 5px 0 7px 0;
	position: relative;
	width: 100%;
	border: none;
	border-bottom: 2px solid $white;
	color: $white;
  font-size: 2rem;
  line-height: 1.5;
  height: 27px;
	top: -10px;

	&:focus {
		box-shadow: none;
		outline: none;
		border-bottom: 2px solid $blue;
		color: $white;
	}
}

textarea {
  height: 100px;
  overflow: auto;
  padding: 10px 0;
}

input.submit {
	@extend a;
  @extend .button;
	float: right;
	margin-top: 15px;


  &:hover {
    color: $orange;
  }
}
