/**
 * Global Page Layouts
 */

// testing
* {
  // background: $block-highlighter;
}

.page-content,
.site-footer {
  @include outer-container;
}

.wrapper {
  @include row();

  @include media($mobile) {
    @include span-columns(4);
  }
}

/**
 * Site header
 */
.site-header {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 0 70px 0 50px;

  @include media($mobile) {
    padding: 0 50px 0 20px;
    margin-left: -20px;
    margin-top: -1px;
  }

  .header-wrapper {
    max-width: 830px;
    margin: 0 auto;
  }
}

.site-nav {
  // @include row();
  height: 60px;
  padding: 10px 0;

  .site-nav__logo {
    display: inline-block;
    width: 50px;
    z-index: 999;
    // @include span-columns(9);
    // @include shift(1);

    .personal-logo {
      display: block;
      max-width: 28px;
      // height: 40px;
    }
  }

  .site-nav__links {
    display: inline-block;
    float: right;
    // @include span-columns(2);

    ul {
      display: block;
      float: right;
      height: 30px;
      padding: 0;
      margin: 0;
    }

    ul li {
      position: relative;
      bottom: 10px;
      display: inline-block;
      text-align: center;
      margin-left: 10px;

      &:first-child { margin-left: 0;}
    }
  }
}

.block-wrapper {

  .block__image {
    @include row();
    @extend %vertical-rhythm;
    height: 250px;
    position: relative;

    @include media($mobile) {
      margin: 0 0 50px 0;
    }
  }

  .block__excerpt {
    max-width: 233px;
  }

  .block__excerpt--link {
    text-align: center;

    @include media($mobile) {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
  }

  .block__outro {
    @include span-columns(8);

    @include media($tablet) {
      @include span-columns(8);
    }

    @include media($mobile) {
      @include span-columns(4);
    }
  }
  .block__social {
    @include span-columns(4);

    @include media($tablet) {
      @include span-columns(8);
      padding-top: 80px;
    }

    @include media($mobile) {
      @include span-columns(4);
      padding-top: 40px;
    }

    ul {
      float: right;
      @include media($tablet) {
        float: left;
      }

      @include media($mobile) {
        float: left;
      }
    }
  }
}

/**
 * Page content
 */

.page-content { padding-top: 100px; }

.block {
  @include row();
  @extend %vertical-rhythm-large;
  color: $black;
  padding: 45px 0;
  height: auto;

  // .intro { margin-top: 80px; }

  &.block--black-bg {
    background: $black;
    color: $white;
    position: relative;
  }

  &.last {
    @extend %vertical-rhythm-small;
  }
}

.fold {
  .block--black-bg {
    background: $black;
  }
}

.block-wrapper {
  @include span-columns(10);
  @include shift(1);
}

.block__contact {
  @include media($mobile) {
    @include row();
  }
  form {
    @include span-columns(5);

    @include media($tablet) {
      @include span-columns(8);
    }

    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .block__social {
    float: right;
    padding-top: 400px;

    @include media($tablet) {
      @include span-columns(8);
      padding-top: 80px;

      ul { float: left; }
    }

    @include media($mobile) {
      float: left;
      padding-top: 80px;
    }
  }
}

.block__next-previous {
  .button.previous {
    text-align: center;
    @include span-columns(4 of 8);
  }

  .button.next {
    text-align: center;
    @include span-columns(4 of 8);
  }
}

.block__logo {
  @include row();
  @extend %vertical-rhythm-small;

  .personal-logo {
    @include span-columns(2);
    max-width: 83px;

    @include media($mobile) {
      @include span-columns(2);
    }
  }
}

.page {

  .page-content { padding: 0; }
  .block { padding: 0; }
  .block--black-bg {
    padding: 80px 0;
  }
  .block-wrapper {
    @include row();
  }

  .img-container {
    @extend %vertical-rhythm-small;
    overflow: hidden;
  }

  .half.left {
    @include span-columns(4 of 8);

    @include media($tablet) {
      @include span-columns(6);
    }
  }

  .half.right {
    @include span-columns(4 of 8);

    @include media($tablet) {
      @include span-columns(6);
    }
  }
}

/**
 * Footer
 */

 footer {
   .block { padding: 0; }
   .footer__logo {
     display: inline-block;
     position: relative;
     top: 4px;
     width: 15px;
   }
 }
