/**
 * Global Page Layouts
 */

// testing
* {
  // background: $block-highlighter;
}

.site-header,
.page-content,
.site-footer {
  @include outer-container;
}

.wrapper {
  @include row();

  @include media($mobile) {
    @include span-columns(2);
  }
}

/**
 * Site header
 */
.site-nav {
  @include span-columns(10 of 12);
  @include shift(1);
  padding-top: 20px;

  .site-nav__logo {
    @include span-columns(1);

    .personal-logo {
      display: block;
      max-width: 38px;
    }
  }

  .site-nav__links {
    @include span-columns(11);

    ul {
      float: right;
    }
  }
}

.block-wrapper {

  .block__image {
    @include row();
    @extend %vertical-rhythm;
    height: 250px;
    position: relative;
  }

  .block__excerpt {
    max-width: 233px;
  }

  .block__outro {
    @include span-columns(8);
  }
  .block__social {
    @include span-columns(4);

    ul { float: right;}
  }
}

/**
 * Page content
 */
.block {
  @include row();
  @extend %vertical-rhythm-large;
  color: $black;
  padding: 45px 0;

  &.block--black-bg {
    background: $black;
    color: $white;
  }

  &.last {
    @extend %vertical-rhythm-small;
  }
}

.block-wrapper {
  @include span-columns(10);
  @include shift(1);
}

.block__contact {
  form {
    @include span-columns(5);
  }
}

.block__logo {
  @include row();
  @extend %vertical-rhythm-small;

  .personal-logo {
    @include span-columns(2);
    max-width: 83px;
  }
}

/**
 * Footer
 */

 footer {
   .block { padding: 0; }
   .footer__logo {
     display: inline-block;
     position: relative;
     top: 4px;
     width: 15px;
   }
 }
