// All variables

// Typography
$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   3.2rem;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$text-color:       #111;

// general spacing
$spacing-unit:       100px;
$spacing-unit-small: 10px;

// colors
$white:   #FFFFFF;
$black:   #4A4A4A;
$blue:    #56C5B3;
$red:     #D37A5E;
$orange:  #F7B349;
$tan:     #BDA68E;
$visited: #9B9B9B;

// grays
$darker-gray: #5A5A5B;
$dark-gray:   #6C6C6D;
$gray:        #9B9B9B;
$light-gray:  #D8D8D8;

// Quick Reference
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);
$block-highlighter: rgba(211, 122, 94, 0.3);
